[submodule "pack/vendor/start/nvim-treesitter"]
	path = pack/vendor/start/nvim-treesitter
	url = https://github.com/nvim-treesitter/nvim-treesitter.git
	branch = main
[submodule "pack/vendor/opt/nvim-lspconfig"]
	path = pack/vendor/start/nvim-lspconfig
	url = https://github.com/neovim/nvim-lspconfig.git
[submodule "pack/vendor/start/oil.nvim"]
	path = pack/vendor/start/oil.nvim
	url = https://github.com/stevearc/oil.nvim.git
